<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>科学</key>
	<array>
		<dict>
			<key>STEAM</key>
			<array>
				<string>机器人</string>
				<string>编程</string>
				<string>3D打印</string>
				<string>模型组装</string>
				<string>创意乐高</string>
			</array>
		</dict>
		<dict>
			<key>自然科学</key>
			<array>
				<string>实验科学</string>
				<string>宇宙科学</string>
				<string>生命物质</string>
			</array>
		</dict>
		<dict>
			<key>潜能开发</key>
			<array>
				<string>潜能开发</string>
				<string>思维数学</string>
				<string>魔方</string>
				<string>感统训练</string>
			</array>
		</dict>
	</array>
	<key>艺术</key>
	<array>
		<dict>
			<key>美术</key>
			<array>
				<string>素描</string>
				<string>水粉</string>
				<string>水彩</string>
				<string>速写</string>
				<string>涂鸦</string>
				<string>漫画</string>
				<string>油画</string>
				<string>书法</string>
				<string>中国画</string>
				<string>DIY</string>
				<string>绘本创作</string>
				<string>沙画</string>
			</array>
		</dict>
		<dict>
			<key>音乐</key>
			<array>
				<string>合唱</string>
				<string>声乐</string>
				<string>尤克里里</string>
				<string>爵士鼓</string>
				<string>小提琴</string>
				<string>萨克斯</string>
				<string>非洲鼓</string>
				<string>钢琴</string>
				<string>吉他</string>
				<string>古筝</string>
				<string>二胡</string>
			</array>
		</dict>
		<dict>
			<key>舞蹈</key>
			<array>
				<string>芭蕾舞</string>
				<string>拉丁舞</string>
				<string>街舞</string>
				<string>爵士舞</string>
				<string>民族舞</string>
				<string>流行舞</string>
			</array>
		</dict>
		<dict>
			<key>舞台艺术</key>
			<array>
				<string>话剧</string>
				<string>戏剧</string>
				<string>音乐剧</string>
				<string>主持</string>
				<string>编导</string>
				<string>表演</string>
				<string>少儿口才</string>
				<string>魔术</string>
				<string>模特</string>
			</array>
		</dict>
	</array>
	<key>运动</key>
	<array>
		<dict>
			<key>球类运动</key>
			<array>
				<string>网球</string>
				<string>橄榄球</string>
				<string>篮球</string>
				<string>足球</string>
				<string>乒乓球</string>
				<string>高尔夫</string>
				<string>棒球</string>
				<string>羽毛球</string>
				<string>冰球</string>
			</array>
		</dict>
		<dict>
			<key>武术</key>
			<array>
				<string>跆拳道</string>
				<string>空手道</string>
				<string>柔术</string>
				<string>太极</string>
				<string>散打</string>
				<string>泰拳</string>
				<string>中国武术</string>
			</array>
		</dict>
		<dict>
			<key>竞技冒险</key>
			<array>
				<string>围棋</string>
				<string>国际象棋</string>
				<string>轮滑</string>
				<string>马术</string>
				<string>跑酷</string>
				<string>击剑</string>
				<string>蹦极</string>
				<string>攀岩</string>
				<string>滑雪</string>
			</array>
		</dict>
		<dict>
			<key>形体体能</key>
			<array>
				<string>体操</string>
				<string>形体</string>
				<string>瑜伽</string>
				<string>体能</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
