<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>松榆里南新园小区六号楼</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>我家宝宝9月上的小班，老师挺好的，园长妈妈亲切，专业，每天都有半日外教课，还有舞蹈，面塑。。。总体不错。</string>
				<key>comment_user</key>
				<string>李小狒</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>老师换的太勤，大部分教师无证上岗，专业老师很少，场地小，设备差，收费贵，准备给孩子转园了</string>
				<key>comment_user</key>
				<string>超美丽辣妈</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>入托费太贵，每月8000，谁上的起呀？？？是给谁开的？？？？</string>
				<key>comment_user</key>
				<string>761222大王</string>
			</dict>
		</array>
		<key>name</key>
		<string>小牛津双语才艺幼儿园</string>
		<key>phone</key>
		<string>010--87311098</string>
	</dict>
	<dict>
		<key>address</key>
		<string>西大望路甲20号复地首府公寓2号楼底商103室</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>这个日托中心的餐食超级赞，连间点都是自己做啊👍这里最小的宝宝8个月，和朋友带宝宝去体验正好赶上外教课，不错，环境也非常好，装有新风系统，朋友决定把宝宝入托这里，正好上班顺路送来，晚上下班接，解决了大问题😀😀</string>
				<key>comment_user</key>
				<string>刘郁儿</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>宝宝一岁九个月。一直全职自己带。宝宝长大发现宝宝需求越来越多！决定给他找个可以集体生活有伙伴的地方！找了一大圈。偶然抱着试试看的心里来到婴悦慧！进门干净整洁敞亮的环境！老师们热情接待！耐心解答！温柔的笑容！让我和宝宝都觉得舒服！ 今天宝宝第一天！完全没有不适应！玩的非常开心！！宝宝在这里我非常放心！！让我惊讶的！！这里还有八个月大的宝宝，老师一对一精心照顾！！最最重要的是！这里的餐和点心！全部由营养师自己做！营养搭配！绝对无添加！！有需求的爸爸妈妈们推荐来看看！！</string>
				<key>comment_user</key>
				<string>yu011</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>我家闺女快两岁了，想把她送到可以和幼儿园衔接的地方，日托中心参差不齐 怕把孩子耽误 ，所以我先来看看环境 ，最让我感到开心的是有新风系统 。和老师交谈了一下 ，又看了看孩子和老师的互动 ，觉得老师很有亲和力 ，也看见这儿的宝宝餐 ，真是觉得又好看又好吃 。在一位负责人那里了解到老师们都是经过各种课程培训的 ，还有特色课程 ，有时间带着闺女去体验一下。</string>
				<key>comment_user</key>
				<string>王蒂</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>在复地首府公寓一层，周围都是比较高档的小区，环境还不错。看了外教给上的一节课，气氛挺好，孩子们的参与度还挺高的，有几个孩子特别乐呵。中心的老师都很有耐心，亲和力很强，与孩子们的互动很多，感觉很不错啊。孩子比在家里要听话╮(￣▽￣&quot;&quot;)╭</string>
				<key>comment_user</key>
				<string>hrc_3209</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>朋友在西大望路新开的婴幼儿日托中心，前两天带孩子体验了一下。整体环境非常好，空间大，设施齐全，老师专业水平很高。随着现在大家育儿理念的提升，开设针对3岁以前婴幼儿的专业看护培训机构是大势所趋。推荐给大家！</string>
				<key>comment_user</key>
				<string>超级胖松鼠</string>
			</dict>
		</array>
		<key>name</key>
		<string>婴悦慧-婴幼儿日托中心</string>
		<key>phone</key>
		<string>010--58706689</string>
	</dict>
	<dict>
		<key>address</key>
		<string>菜户营桥西北角三路居88号蓝调国际公馆7号楼3单元0102室(近三路局)</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>我家宝宝是一个特别认生的孩子，最初来到蓓比是同事推荐过来体验这的亲子课，我想尝试通过这种方式每周陪他跟相对固定的一些小朋友有一定的接触和互动，亲子课试听效果不错我当场就办了卡。&amp;lt;br/&amp;gt;就在办卡一周以后我就与张老师约谈想送宝宝入托，主要是出于对家里老人身体状况的考虑，以及希望宝宝能在语言、习惯养成等方面得到更好的引导，最最重要的前提条件是同事鱼妈的亲身实践，让我对宝宝送进蓓比是一万个放心和期待！&amp;lt;br/&amp;gt;目前宝宝刚刚入托5天，短短几天宝宝的变化已经足够让全家人开心的称赞送去蓓比是正确的选择！&amp;lt;br/&amp;gt;宝宝最大的变化是：&amp;lt;br/&amp;gt;1、可以自己吃饭了，而且食欲特别好。&amp;lt;br/&amp;gt;2、以前哄睡必须让我抱着走直到睡熟才能放下，现在可以躺在床上自己入睡了，而且养成了早睡早起的好习惯。&amp;lt;br/&amp;gt;3、本来最担心的是早上送去蓓比宝宝会哭闹，结果事实证明现在宝宝进馆的时候已经头都不回，更顾不上跟我挥手等等道别戏码了，原来送娃入托是如此轻松的事情！&amp;lt;br/&amp;gt;期待将来宝宝在蓓比越来越多的进步～真心觉得做蓓宝的家长是绝对的省心、放心、开心！</string>
				<key>comment_user</key>
				<string>liusong19841222</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>因为自己要上班，奶奶身体不好等原因，综合了哥哥弟弟一起入托、具备早教功效、安全放心等等的需求，找到了蓓比斯特。然后意外发现两个完全不在同个圈子的朋友，他们都是蓓比斯特的家长，这个世界好神奇！&amp;lt;br/&amp;gt;从5月底开始咨询、纠结，一直到10月初开始送孩子入托，期间经历了跟粑粑的谈判、搬家、跟奶奶的谈判，面对爷爷的质疑，以及经济上的压力等等。但是效果确实惊人！哥哥回家时不时的给我来一首儿歌或者古诗，有一天突然对我说了3q！弟弟一听见哥哥唱歌或者妈妈唱歌，就手舞足蹈，有几次奶奶去接他都不愿意离开大姐姐的怀抱！&amp;lt;br/&amp;gt;啰啰嗦嗦说了这么多，其实是想说，对于孩子来说蓓比斯特是个大家庭，温暖又有趣，对于家长来说，蓓比斯特又是个神奇的后盾～［之前从南到北，考察了好几个日托中心，越发觉得蓓比斯特值得所有家长珍惜］，在此也由衷感谢珊妞妞、琳琳、甜甜、优优还有写不出来名字的各位大姐姐们！</string>
				<key>comment_user</key>
				<string>赵百科</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>在众多的日托班中选择选择蓓比斯特是因为她们的教学方式非常打动我。游戏中快乐教学，让孩子在愉快的游戏中获得能力的提升，这种教育方式正是我所期待的启迪式教育。同时这里的老师也非常的好，每位老师都很有耐心，上课很负责，老师会用专业的教学，帮助孩子快速适应集体生活。校长每周还会和家长在微信群里探索育儿知识。虽然孩子上课只有短短的两个月，但我觉得孩子各方面能力都有所提高，在综合运动能力和专注力也有大大的提升，以前比较害羞腼腆，虽然我平时已经注意去鼓励其他人互动，但毕竟经历和经验都有限，来到蓓比斯特后能切身感受到孩子的变化，在游戏中探索学到东西，作为家长，很开心的当初选择蓓比斯特是没错的。</string>
				<key>comment_user</key>
				<string>darenbox</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>育儿嫂阿姨的突然请辞，让我着急得在生日当天沙哑了嗓子。在我愁眉不展的时候，小区妈妈群里的妈妈们，建议我把孩子送来蓓比斯特。小鱼去蓓比的时候2岁2个月，是个不愿说话、情绪和触觉都很敏感的小巨蟹。好在珊牛牛给小鱼安排了“特别关注”，林林的陪伴和引导，让小鱼逐渐开朗，现在已经是一个不折不扣的话匣子，每天我去接她放学，她肉肉的小脸贴着我说“妈妈，我爱你”是我一天最开心的时刻。她的触觉敏感也不那么严重了，愿意用手指蘸颜料画画，冲淋浴洗澡。生活自理能力就更没话说啦，穿衣、穿鞋、吃饭之类的都是棒棒的。珊牛牛还来家里家访，给我家儿童游戏房的装扮提了建议；有一次，小鱼周末积食了，吃东西容易吐，可公司不让请假，工作日只能把孩子送馆里，珊牛牛细心定制饮食，顺利的调理好了小鱼的肠胃…蓓比斯特实际上是比请阿姨更好的一个选择，只是之前我没发现。有机会的话，将来早点送二宝来吧～</string>
				<key>comment_user</key>
				<string>guoguolovemengqiqi</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>之前饱受换阿姨之苦的我，在朋友的介绍下认识了蓓比，毫不犹豫的就将当时不到两岁的蒙送了进去，短短的四个月间，wuli蒙学会了自己吃饭、自己穿鞋、语言上也突飞猛进，还戒掉了吃奶嘴、吃零食等坏习惯，让我真心觉得当时的决定太英明了！</string>
				<key>comment_user</key>
				<string>coffei</string>
			</dict>
		</array>
		<key>name</key>
		<string>蓓比斯特幼儿会馆</string>
		<key>phone</key>
		<string>13699273930</string>
	</dict>
	<dict>
		<key>address</key>
		<string>青年路27号院5号楼</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>今天去参观了～感觉师资还不错～老师比较温柔～应该会让孩子去试试～价格也挺合理的～为了帮助孩子度过焦虑还可以按天结算～真的非常的人性化～而且前期也可以在房间外看看孩子～真的是管理好才敢这样～真的挺好的～缺点是环境一般～还有课程感觉不是很专业～但是师资好其他可以忽略了～？</string>
				<key>comment_user</key>
				<string>YY最聪明</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>都很满意，唯独没操场。。。赶紧有操场就好了，我家男孩子还是需要运动空间的</string>
				<key>comment_user</key>
				<string>Fly..._4918</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>台湾的教育理念还是很不错的，老师认真负责，最主要的是能招收那么小的孩子，我看到最小的孩子才四个月大而已</string>
				<key>comment_user</key>
				<string>史蒂芬翁</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>环境很棒，墙体都是硅藻泥的纯天然材料，地面也都是软垫，防止孩子摔倒受伤，很贴心的设计，活动也很精彩，每周六都会举办不同的活动，家长和宝宝很多，很喜欢华杉托婴中心的教育理念，相信这里会给孩子最好的教育，最贴心的照顾。</string>
				<key>comment_user</key>
				<string>Ann__7032</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>除了有点气味，环境和人员都不错，宝宝大一些可以考虑，台湾的教育理念还是很好的</string>
				<key>comment_user</key>
				<string>baby陈淳媛</string>
			</dict>
		</array>
		<key>name</key>
		<string>华杉托婴中心</string>
		<key>phone</key>
		<string>010--56610106</string>
	</dict>
	<dict>
		<key>address</key>
		<string>天通苑北一区15号楼2单元603</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>我19个月就把宝贝送到张妈妈家（孩子们都叫她张妈妈）明显的感觉到宝贝懂事很多，学到的也很多，越来越爱说话，自理能力也强！自己吃饭，自己穿裤子袜子，更重要的是开朗的很多！150㎡的大房子，有游戏区，有学习区，有休息区，还有餐厅，应有尽有！不次于什么高级国际幼儿园，张妈妈也很会教孩子们学习！每天换着花样的教孩子们手工，插花，画画等等其实我是更应该感谢这一家的。帮我把宝贝照顾的这么好！</string>
				<key>comment_user</key>
				<string>奶茶Mummy</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>我们孩子十三个月去的，进步非常大，吃饭也吃的好，不挑食了，一岁半就会独立吃饭，坐盆，学费比大幼儿园的还低，我个人觉得性价比挺高的，每个人看中的不一样，老师也很稳定有耐心，可以参考一下。</string>
				<key>comment_user</key>
				<string>XiaoMi_3870391407</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>师资配比高，老师对孩子非常好，孩子在这里吃的也好，非常非常好！！！</string>
				<key>comment_user</key>
				<string>anan_1078</string>
			</dict>
		</array>
		<key>name</key>
		<string>天通苑北一区mybaby0-3-岁托管中心</string>
		<key>phone</key>
		<string>13261906080</string>
	</dict>
	<dict>
		<key>address</key>
		<string>望京西园216号</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>去参观过了，很好的幼儿园，环境好，老师感觉很亲切，有礼貌，已经交费准备9月份入园了。</string>
				<key>comment_user</key>
				<string>猫妖妙妙</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>去看过，还不错。就是我家宝宝还没太小。等过段时间再说吧，不错</string>
				<key>comment_user</key>
				<string>sunny_764514</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>现在是卓悦童国际幼儿园了，很不错！&amp;lt;br/&amp;gt;孩子3月1日入学，很期盼</string>
				<key>comment_user</key>
				<string>小肚兜的金瓜子</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>特别赞的幼儿园 各方面都特别好 我已经推荐了好几个朋友家孩子都入园了</string>
				<key>comment_user</key>
				<string>单荇道</string>
			</dict>
		</array>
		<key>name</key>
		<string>卓悦童双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--84713737</string>
	</dict>
	<dict>
		<key>address</key>
		<string>太阳宫北街新纪家园隔壁</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>大宝就是从这里毕业的，这里的老师还是很负责的，对孩子都比较有耐心，所以二宝继续来到这里，虽然上的时间还不长，但孩子学会了很多，生活自理能力提高了很多，课上活动丰富，孩子的美术作品都会收集到活页夹里，学期结束拿回来给家长，看到孩子一学期的小成绩，还是很兴奋的！学校还会经常搞一些活动让家长也参与其中，圣诞节淘书淘食品，捐赠，运动会，制作腊八蒜等等…形成了很好的家校互动，幼儿园的菜品也是丰富多样，营养搭配，整体还是不错的！价格普通班合下来每月三千五，还是可以接受的，国际班听说贵两千，具体不知道。</string>
				<key>comment_user</key>
				<string>优优妈妈朴</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>太阳宫附近价格比较适中的双语幼儿园，班级比较多，小朋友也很多，还有韩国籍的班，这是彤宝的第一个幼儿园，上了一年学，老师们都很好，虽然换过两个班主任，但是彤宝都很喜欢，每天的幼儿园生活很愉快，彤宝从来没有说过不想去，都是高高兴兴的去，平平安安的回，幼儿园的老师们的确很辛苦~</string>
				<key>comment_user</key>
				<string>大PG趴趴大懒猪</string>
			</dict>
		</array>
		<key>name</key>
		<string>太阳蓝天启航双语艺术幼儿园</string>
		<key>phone</key>
		<string>52018502-8017</string>
	</dict>
	<dict>
		<key>address</key>
		<string>马连洼北路西山华府禧园52号楼一层(上地 农业大学 菊园 西山壹号院 西山公馆)</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>非常幸运在家附近找到了这个称心如意的托班。学校的内外环境都很好，教具、玩具很多，杨杨姐姐，玲玲姐姐，西西姐姐都很专业，细心，认真，负责。课程设置科学好玩，大小朋友混龄教学，大哥哥帮助小妹妹，培养孩子的自立，责任心、爱心。特别好！把儿子放这里很放心。儿子上课两周多了，觉得他进步了很多。吃饭自己吃的很好了，与小朋友和姐姐互动越来越积极，慢慢学会和小朋友分享… 每天看着儿子的成长，真的特别开心选择了这里！</string>
				<key>comment_user</key>
				<string>ningmengjia</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>在五彩城收到的宣传业，对婴幼儿托管很好奇，带着试试看的心情来看看，最后还参加了活动，是上半天课的，内容听丰富的，孩子们参与的挺好的，老师很有耐心，就是担心空气问题，不过他们每个教室都配了空气净化器，应该可以放心去。</string>
				<key>comment_user</key>
				<string>dpuser_4711956177</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>带娃来蹭了个活动。&amp;lt;br/&amp;gt;做幼教的原因，对这种幼教中心还是比较高的。比如世界那种位置大，但体验不好说。&amp;lt;br/&amp;gt;教学内容参考有多元智能等，不错。&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;那天去恰逢感知智能的单元-面粉大战，孩子们很开心，老师也用心。有了好教材，好老师，好教学环境，附近的孩子家长有福。</string>
				<key>comment_user</key>
				<string>汪小伟</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>周末拎上小盆友去了这个智优宝贝西山学校的半日体验课，小盆出发时小有情绪，不过到了之后还挺喜欢一直玩到中午12点半，被我强行拖回家...因为严重影响睡觉时间...不过小盆喜欢就好哼哼哼。感觉设施不错，用的都是环保材料，老师挺nice，小点心很好吃，奶昔强烈推荐～～ 看来以后可以把小盆扔到这里了，啊哈哈～～～</string>
				<key>comment_user</key>
				<string>unusualxixi</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>带着孩子参加了两场活动，首先孩子非常喜欢这一点我很欣慰，其次这边的老师他们说叫姐姐都能看出来是真的很喜欢孩子，很有耐心，然后活动之后还能吃到各种各样的好吃的，不过提点建议下次可以再多准备点热汤。但是奶昔真的很好喝。还有就是停车不太好停。不过最后也解决了。</string>
				<key>comment_user</key>
				<string>白骨精Cici</string>
			</dict>
		</array>
		<key>name</key>
		<string>智优宝贝婴儿学校(西山校区)</string>
		<key>phone</key>
		<string>18701503787</string>
	</dict>
	<dict>
		<key>address</key>
		<string>建外SOHO西区10号楼1602室</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>上周带宝宝去参加活动，孩子玩的很开心，而且跟我上班在一栋写字楼里面，确实不错</string>
				<key>comment_user</key>
				<string>dpuser_4868073361</string>
			</dict>
		</array>
		<key>name</key>
		<string>朋恩日托中心</string>
		<key>phone</key>
		<string>4001635566</string>
	</dict>
	<dict>
		<key>address</key>
		<string>安立路60号润枫德尚苑5号楼105室</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>性价比可以，老师对孩子比较有耐心，将早教融入日常生活。感觉比老人或阿姨带孩子好。</string>
				<key>comment_user</key>
				<string>睡在暖气片上的大白猫</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>一个偶然机会来到智优，很赞。老师们很nice，孩子在这里终于可以独立进餐，课程种类繁多，魔幻厨房可以很好锻炼宝宝的动手能力，色彩识别等可以训练各种颜色辨别与手眼协调，每周的外教课宝宝特喜欢，回家还会教家长；还学会了照顾更小的小盆友，集体意识强了，以后入大园可以不用再过渡，五颗星。</string>
				<key>comment_user</key>
				<string>装咖啡的小提琴</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>家庭式幼儿园，课程很系统，照顾很周到。宝宝和老师们关系亲密，宝宝们之间也相亲相爱。我的孩子在这里上了几个月，每天特别爱去👍</string>
				<key>comment_user</key>
				<string>田笑笑和田乐乐</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>环境和老师都很棒 家庭式的幼儿园更容易被孩子接受 没有过多的拘束感 孩子适应了几天就非常愉快的主动要求去幼儿园 秩序感慢慢养成 自我服务意识也逐渐增强 老师们都很专业 每天给孩子们安排的课程很丰富多样 孩子喜欢 家长放心</string>
				<key>comment_user</key>
				<string>盖盖佳</string>
			</dict>
		</array>
		<key>name</key>
		<string>智优宝贝(大屯校区)</string>
		<key>phone</key>
		<string>18610532937</string>
	</dict>
	<dict>
		<key>address</key>
		<string>南湖渠路15号金隅丽港城甲5号楼北侧</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>把每个孩子都当成自己的孩子。老师们不仅专业而且灵活，不仅敬业而且温柔，不仅授业而且走心。孩子在这里太放心了！</string>
				<key>comment_user</key>
				<string>dpuser_9883852421</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>一家幼儿园好不好，核心是看老师对孩子有没有爱。如果想找到一家充满阳光和爱心的幼儿园，做为入园两年的老生家长，我推荐kids and me。&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;有丰富的课堂和课外活动（比如参观消防大队），有营养丰富又可口的一日三餐，还有漂亮的外教老师。。。&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;最重要的是，这里的老师们充满爱！！！&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;我们都在爱心中孕育生长 &amp;lt;br&amp;gt;再把爱的芬芳洒播到了四方 &amp;lt;br&amp;gt;我们要在爱心中大声地歌唱 &amp;lt;br&amp;gt;再把爱的幸福带进每个人的身上</string>
				<key>comment_user</key>
				<string>喵O喵O</string>
			</dict>
		</array>
		<key>name</key>
		<string>kids and me双语幼稚园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>大钟寺四道口路1号</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>位置还算不错，本身设施和环境也行，就是周边环境略微差一些，不过现在周边要拆迁了。未来会更好。</string>
				<key>comment_user</key>
				<string>小铁拳40</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>去了试听，发现院子特别旧，小孩子户外空间有限。教学楼夹在一堆楼中间，所以教室内阳光进入极少。&amp;lt;br/&amp;gt;亲子活动的老师控制力较差，不会观察孩子们的反应也不会调动孩子的参与性……有外教，不过没有参与过他们的外教课无从评价</string>
				<key>comment_user</key>
				<string>aka2</string>
			</dict>
		</array>
		<key>name</key>
		<string>蓝宝特双语幼儿园大钟寺园</string>
		<key>phone</key>
		<string>010--82333336</string>
	</dict>
	<dict>
		<key>address</key>
		<string>呼家楼好世界208号</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>刚开张人还不多，不过环境还不错。开在写字楼附近，应该还是很方便的吧。</string>
				<key>comment_user</key>
				<string>pruchen</string>
			</dict>
		</array>
		<key>name</key>
		<string>朋恩日托中心</string>
		<key>phone</key>
		<string>4001635566</string>
	</dict>
	<dict>
		<key>address</key>
		<string>太阳宫火星园3号楼1门1011</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>特别感谢智优宝贝里面的每一位可爱的姐姐们每天带给孩子们的快乐！ 太阳宫校区离我家是最近的，朋友的孩子在这里上，孩子的受教育坏境非常棒！所以介绍我过来。每天吃的，玩的，都是丰富多彩。作为孩子的家长，每天能看到孩子不仅可以学到东西，而且快乐的成长，我相信这是每一位家长都希望的。幼儿园里的老师也都非常和气，经常会和家长沟通，通过视频，照片等各种形式让家长时时刻刻知道自己的孩子一天的活动！在这里，孩子知道了很多知识，也学会了很多礼仪，文明。在这里激起了孩子最好的一面，作为家长，我非常愿意将孩子放在这里！也非常感谢智优宝贝，能让我们作为家长的安安心心工作，孩子也可以快快乐乐成长！总之，我的宝宝马上快毕业了，非常不舍，我的宝贝特别喜欢这里的姐姐，还有小朋友！</string>
				<key>comment_user</key>
				<string>小妞儿。_1230</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>孩子很喜欢，每次玩的都很久，到家就累得不行，吃很多东西补充能量</string>
				<key>comment_user</key>
				<string>mm_3633</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>打电话过去是雷克萨斯4S店，是网站的问题还是幼儿园改4S店了呢？</string>
				<key>comment_user</key>
				<string>iris芊</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>l老师服务态度很差 本来想了解一下 爱达不理的 垃圾。zzzzzzzzzzz</string>
				<key>comment_user</key>
				<string>迷糊蟲milk</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>非常好的启蒙学校 孩子过得很开心 获得了很好的基础 感谢老师们的专业和用心 非常推荐 ！ 学校在火星园 这个小区的亲子环境和设施是最好的 安全又有趣，学校的饮食多样 营养丰富，课程安排用心有意思，老师负责又有爱心，外教老师也非常可爱. 现在孩子毕业去了国际学校，一对比更是感受到智优的好，大的学校除了设施全面 老师难免人浮于事，作为孩子起步的第一个学校 选智优一定不会后悔的.</string>
				<key>comment_user</key>
				<string>summerever</string>
			</dict>
		</array>
		<key>name</key>
		<string>智优宝贝(太阳宫园)</string>
		<key>phone</key>
		<string>010--84298995</string>
	</dict>
	<dict>
		<key>address</key>
		<string>清河中街28号院</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>北京凯迪双语幼儿园是一家连锁幼儿园，在京有近10家中大型幼儿园 这一家在北京比较新的小区清河家园附近 我到的时候是晚上 因为导航貌似都不显示清河家园的 所以就把这个幼儿园作为标的物了～这个幼儿园在小巷子里 旁边是工地 环境感觉有点糟</string>
				<key>comment_user</key>
				<string>逛吃逛吃哼唧</string>
			</dict>
		</array>
		<key>name</key>
		<string>凯迪双语实验幼儿园</string>
		<key>phone</key>
		<string>010--62952051</string>
	</dict>
	<dict>
		<key>address</key>
		<string>望京东路8号</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>我在网上无意搜到，带孩子去体验了下，出乎我意料。创始人的理念以及她的老师都非常好，专业度和对待孩子的方式方法，我所担心的安全，吃住，环境都很好。年后会把孩子送过去。</string>
				<key>comment_user</key>
				<string>Lucy_6625</string>
			</dict>
		</array>
		<key>name</key>
		<string>美帝奇国际日托</string>
		<key>phone</key>
		<string>18612558268</string>
	</dict>
	<dict>
		<key>address</key>
		<string>怡乐南街靓景明居内</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>就在家楼下，孩子去上过试听课，准备9月份入园，有大中小托班，还有学前班，好多小朋友。里面不是特别大，每月3150，还要另加伙食费和一些什么费用的，价格不低哦。优势就是离家近啊。所以首先还是考虑来这里。</string>
				<key>comment_user</key>
				<string>只念初见</string>
			</dict>
		</array>
		<key>name</key>
		<string>思玛特双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--58017306</string>
	</dict>
	<dict>
		<key>address</key>
		<string>东柏街时代国际5号楼218室(乐成国际中心 天之骄子)</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>小班制教学，每个班孩子很少不超过10个孩子，老师看护比较细致用心。课程安排也比较丰富，外教英语，陶艺，美术跆拳道都包含在学费内</string>
				<key>comment_user</key>
				<string>牧云1990</string>
			</dict>
		</array>
		<key>name</key>
		<string>双井智慧城堡幼儿园(双井店)</string>
		<key>phone</key>
		<string>010--52001989</string>
	</dict>
	<dict>
		<key>address</key>
		<string>南湖西园503号</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>环境布置得很好，在空间有限的情况下，有效利用了二楼顶的大平台，让孩子们有足够的活动场地。也经常组织活动，孩子很喜欢</string>
				<key>comment_user</key>
				<string>tata9</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>考察过一次，因为离家很近，所以觉得幼儿园还是离家近最重要，老师都很年轻和蔼有活力！不知道伙食怎么样，等回头上了再增加吧！</string>
				<key>comment_user</key>
				<string>xuelingbaby</string>
			</dict>
		</array>
		<key>name</key>
		<string>子乐双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--84245698</string>
	</dict>
	<dict>
		<key>address</key>
		<string>朝阳常营中路</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>网上留的手机永远都无人接听，骗点击的吧。差评 差评差评差评差评</string>
				<key>comment_user</key>
				<string>修身狂</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>是位妈妈 比较有经验 孩子喜欢去 主要晚餐比较好 很细心的一位妈妈 比之前去过的两个托管都好 家里很干净</string>
				<key>comment_user</key>
				<string>影子*_5154</string>
			</dict>
		</array>
		<key>name</key>
		<string>常营快乐托管班</string>
		<key>phone</key>
		<string>13120248981</string>
	</dict>
	<dict>
		<key>address</key>
		<string>回龙观</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>孩子在这上幼儿园，在家附近，挺方便的，学校环境挺好的，是双语幼儿园，还能简单的教点英语单词，也有各种兴趣班，每个班学生不是特别多，有四个老师，老师不错，挺有责任心的，照顾的挺好的，孩子都挺喜欢的！也愿意去！</string>
				<key>comment_user</key>
				<string>hlg回</string>
			</dict>
		</array>
		<key>name</key>
		<string>幸福童年双语第六幼儿园</string>
		<key>phone</key>
		<string>010--81722888</string>
	</dict>
	<dict>
		<key>address</key>
		<string>上地西路41号院宏达花园广场C区2层020室</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>打电话咨询，爱理不理的，态度不好，问什么都不说，给人感觉很不好。不知道教学质量和这个日托中心的质量到底怎样。</string>
				<key>comment_user</key>
				<string>youpeier</string>
			</dict>
		</array>
		<key>name</key>
		<string>洪恩儿童美语村.日托中心</string>
		<key>phone</key>
		<string>010--52043917</string>
	</dict>
	<dict>
		<key>address</key>
		<string>建国路29号兴隆家园7号楼底商(兴隆家园)</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>这里的特色是双语和国学，刚好是我想要的，孩子不能不学英语，作为中国人也必须学正宗的传统文化。接触过的几个老师都很有爱心。很不错的幼儿园。</string>
				<key>comment_user</key>
				<string>落落如石</string>
			</dict>
		</array>
		<key>name</key>
		<string>维华幼托中心</string>
		<key>phone</key>
		<string>010--85827782</string>
	</dict>
	<dict>
		<key>address</key>
		<string>西三旗(地铁霍营、育新站附近)</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>今天刚刚咨询了幼儿园，现在学费是一个月5050元，按月交，全都包含。但是老师说马上可能要涨钱，具体涨价多少没有透漏。而且有校车，还不错。</string>
				<key>comment_user</key>
				<string>柳橙2013</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>很有办学特色的园，宝宝在哪里很开心，成长很明显，在西三旗是数一数二的幼儿园</string>
				<key>comment_user</key>
				<string>潘文品_8161</string>
			</dict>
		</array>
		<key>name</key>
		<string>本真双语艺术幼稚园(本真西三旗园)</string>
		<key>phone</key>
		<string>010--82933756</string>
	</dict>
	<dict>
		<key>address</key>
		<string>田村东路</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>夹在小区中的幼儿园，估计就是服务附近社区里的小孩的。设施一般。挨着马路环境不是很好。</string>
				<key>comment_user</key>
				<string>wjh3580</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>新建的幼儿园，环境，设施还都是满新，干净的，一个班30个孩子，2个老师，但是门口不好，临着马路有点不安全的说。其他都还不错。</string>
				<key>comment_user</key>
				<string>吃玉米的狐狸</string>
			</dict>
		</array>
		<key>name</key>
		<string>幸福童年双语艺术第五幼儿园</string>
		<key>phone</key>
		<string>010--88251499</string>
	</dict>
	<dict>
		<key>address</key>
		<string>绿城百合公寓(京石高速公路阎村出口向西1000米)</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>我们就住在马路对面 没有犹豫的直接选择了培基 没去之前也很担心 但也只能通过百度 大众这些渠道零星的了解些幼儿园的情况 孩子两岁八个月送去了 到现在都适应得非常好 我简单说几点 有问题大家可以问 &amp;lt;br/&amp;gt;1、人数：我们去时小小班有20多个孩子 4个老师 没过多久 三岁多的孩子就升班了 只剩下不到十个孩子 三个老师 最少的时候就四个小孩俩老师 一直到现在也没超过十个孩子&amp;lt;br/&amp;gt;2、老师：大家担心会经常换老师 至少我们上了大半年也没有换过 而且小小班的桂老师已经任职四年了 全园孩子都是她带出来的 非常有经验 人也很开朗 孩子们跟她在一起都很活泼 每天放学都会告诉你孩子在班里的情况 最初入园的一周还会每天打电话给家长 &amp;lt;br/&amp;gt;3、外教：外教全园有两个 这中间换过一个人 这也可以理解 外国人在华工作肯定没有那么稳定 每天有一节课 孩子回来会唱些英文歌 简单的单词遇上了也能脱口而出 我觉得只要她能体会语音语调 有些语感就很好了&amp;lt;br/&amp;gt;4、饮食：菜谱每周更换 和全北京所有的培基都一样的 食材也是统一配送 十点还有水果 两点半有牛奶或酸奶 孩子入园体检是93cm 半年时间已经长高了4-5cm &amp;lt;br/&amp;gt;基本上家长比较关心的情况就这样 再有什么你们可以留言</string>
				<key>comment_user</key>
				<string>大龙虾plus</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>家门口的幼儿园，建在小区里，硬件可以，软件还不了解。考虑宝贝上这个幼儿园</string>
				<key>comment_user</key>
				<string>飞鱼selina</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>一班30几个孩子，就两个老师，完全顾不过来，园长根本就只管赚钱</string>
				<key>comment_user</key>
				<string>ermao127</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>小班报名时候说得都好，一进中班就差了不是一点半点。30多个孩子就两老师，根本看不过来。外教换得极快，经常没有。最近直接连一个外教都没有了。总园也不管。</string>
				<key>comment_user</key>
				<string>zdaa</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>培基绿城园是去年新建的幼儿园，就建在居民小区内，极大方便了附近的孩子。绿城园占地3708平方米，环境优美，内设专用电脑房、美工教室、阅览室、练功房、感统教室、视频观察室、室内庭院花园、接待区，还有多功能大型游乐区、植物景观、升旗台。听其他妈妈说，这个幼儿园的老师态度非常好，孩子都比较开心。好像伙食也还行，孩子上了一阵幼儿园都胖了。有外教上英语课，幼儿园还经常在圣诞节、感恩节、万圣节等节日举行活动。由于孩子就要上幼儿园了，每周六对外开放日我都带孩子去幼儿园玩，孩子好像很喜欢这儿呢！这样我就放心了！</string>
				<key>comment_user</key>
				<string>平平仄</string>
			</dict>
		</array>
		<key>name</key>
		<string>培基双语幼儿园绿城园</string>
		<key>phone</key>
		<string>010--89316474</string>
	</dict>
	<dict>
		<key>address</key>
		<string>刘家窑路11号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>金帆双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--67616315</string>
	</dict>
	<dict>
		<key>address</key>
		<string>通胡大街25号</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>一个性价比比较高的幼儿园，比好的当然比不了，因为它很便宜，但比差的要好多了，所以这个幼儿园说不上是最好的，但是性价比比较高。</string>
				<key>comment_user</key>
				<string>_四月雪_</string>
			</dict>
		</array>
		<key>name</key>
		<string>天使宝贝双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--80855170</string>
	</dict>
	<dict>
		<key>address</key>
		<string>东坝朝新嘉园西里一区（金隅悦和园）11号楼</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>认识的朋友开的班，是一个超级有爱有耐心的妈妈，唱歌超级好听，小朋友们可以报名来学习音乐🎵</string>
				<key>comment_user</key>
				<string>anzhuzhubj</string>
			</dict>
		</array>
		<key>name</key>
		<string>悦馨教育(U妈托管)</string>
		<key>phone</key>
		<string>18511086006</string>
	</dict>
	<dict>
		<key>address</key>
		<string>查继源手机部旁</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>还可以吧，如果没有合适的学校也可以试一下，看着环境还凑合。我们宝宝过几天过来</string>
				<key>comment_user</key>
				<string>%！伟*！</string>
			</dict>
		</array>
		<key>name</key>
		<string>凯迪双语实验幼儿园</string>
		<key>phone</key>
		<string>010--88437527</string>
	</dict>
	<dict>
		<key>address</key>
		<string>横街子44号附近</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>园里环境不错，教育教学方面很专业！孩子伙食不错！孩子喜欢！家长放心，孩子开心！</string>
				<key>comment_user</key>
				<string>Babylemiao</string>
			</dict>
		</array>
		<key>name</key>
		<string>宝宝之家双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--87301296</string>
	</dict>
	<dict>
		<key>address</key>
		<string>八宝庄小区33号</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>怎么没有负分呢？非常极其差！上小托班的时候园长说海淀区有规定每个班25个娃，配4个老师，上着上着不停的往班里塞孩子，塞到30多个，老师降到3个。每次有啥问题跟园长沟通，老太太各种不解决任何事，只认钱多招生，满嘴谎话，最可笑的是说：每天都会有孩子请假，所以还是控制在25个孩子之内的。换着白话就是：幼儿园盼着娃生病不出勤，学费交了就行。&amp;lt;br/&amp;gt;正在物色新幼儿园，坚决转园</string>
				<key>comment_user</key>
				<string>草园塔</string>
			</dict>
		</array>
		<key>name</key>
		<string>新知双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--88119297</string>
	</dict>
	<dict>
		<key>address</key>
		<string>依翠园16号楼503(半月园公园、美廉美超市)</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>第一次接触风之谷托管是在去年暑假之前.我是一个对孩子的培训学习机构非常挑剔的处女座妈妈.在给孩子选择暑期托管班的时候对比了好多家.那时候点评上关于托管的信息很少.所以只能在现实生活中去看.风之谷托管是家庭式托管.这种模式让我更放心.因为家庭就是生活在这三十多年的同龄孩子的家.不会有中途搬迁和收费了突然消失的风险.也有责任人.所以安全性更高.创办人一个是同龄孩子的妈妈.一个是北京第二外国语学院毕业的90年小伙儿.托管大多数都是女孩子老师.我觉得有个男老师更有安全感.而且日常生活中爸爸的陪伴本来就少.所以男老师可以影响到孩子.让孩子做事更果断勇敢.总之男老师很缺乏啊.别看李老师90后但对小孩的教育很有自己的想法.我觉得孩子应该更多的接触年龄差小的老师.这是我选择的第二个原因.第三个原因就是这是个新起的托管班.所以为了塑造口碑肯定对孩子更负责.更用心.托管费也非常合理.于是乎就把孩子送去暑期托管了.让我感到意外之喜的是除了每天要完成的暑期作业.孩子每周会有摄影课绘画课声乐课主持课.更加丰富多彩了.也探索孩子自己喜欢什么兴趣爱好.我们好着培养.本来孩子平时是有爷爷奶奶带的.但是通过暑期的托管我觉得还是让孩子在这种有培训体制的托管班对孩子培养良好的学习习惯更有好处.所以一直托管到现在.今年暑期风之谷有活动啦.两人同行一人免费.托管费就更加划算啦.希望更多在选择期的家长看到这篇我手码的字儿.和我家闺女成为同学伙伴.</string>
				<key>comment_user</key>
				<string>麦兜超人～</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>我家孩子在银河小学2年级.去年暑假就在风之谷上的.一直到现在.和这里周老师的孩子是同班同学都在银河小学.觉得有认识的家长比较放心.&amp;lt;br/&amp;gt;    暑假班每天孩子除了正常的假期作业.每周会有艺术体验课.上过声乐.美术.摄影.少儿主持.感觉暑期还挺丰富的.天气合适的时候会带孩子下楼观察植物生物.还比较有乐趣.我和老公工作比较忙.没有太多时间和他玩.&amp;lt;br/&amp;gt;    李老师是北京第二外国语学院毕业的高材生.英语和数学很好.会教孩子学习方法.周老师不善言辞但是比较细心.暑假过的还是很开心的.平时作业比较多玩闹的时间少.李老师会带孩子做画画的游戏.还给孩子买了硬笔书法本子练字.我感觉比我想的都周到哈哈😄.考虑给孩子上托管的或者换一个托管班的.我推荐风之谷</string>
				<key>comment_user</key>
				<string>一片云_1628</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>我外女应该是这个托管班的第一个学生.我外女在银河小学上二年级.一年级时在其他托管班上.这个托管班之前在雕塑公园办了一场亲子活动.我和我姐一家带着外女一起去参加的.现场孩子挺多.体验了画画.少儿主持.主要创办人李老师讲的一番话我觉得比较打动我姐.他们的理念是托管+不光托管.还在同时培养孩子良好的时间分配习惯和课外的兴趣.我感觉比只有托管好很多.老师是北京第二外国语学院毕业的.英语数学都非常有优势.学费合理.主要我要说的是老师太有责任心了.我看我外女作业写的特别好.英语单词发音比较标准.说实话在学校学生太多了.老师根本顾不过来一个一个辅导.在托管班不一样教写作业.教预习复习.我外女最大的变化不仅是英语变好了数学算数变快了（老师自己出题.每天练习）主要是生活习惯的变化.知道随手关灯了.也不总任性耍脾气了.那个李老师把她制服了😊现在不让去都不行.我感觉总之都是要托管.还是要选择一个老师有责任心的靠谱的.推荐给银河小学的家长们.我姐不会玩点评.这里好多话是她让我写的哈哈</string>
				<key>comment_user</key>
				<string>daisy--77</string>
			</dict>
		</array>
		<key>name</key>
		<string>风之谷儿童托管中心</string>
		<key>phone</key>
		<string>13466664614</string>
	</dict>
	<dict>
		<key>address</key>
		<string>亦庄凉水河一街37号院瀛海庄园6乙102(中信新城)</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>柏竹创想家</string>
		<key>phone</key>
		<string>010--87856850</string>
	</dict>
	<dict>
		<key>address</key>
		<string>广顺北大街星源国际E座302室</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>小脚印 幼托(星源国际店)</string>
		<key>phone</key>
		<string>13801154656</string>
	</dict>
	<dict>
		<key>address</key>
		<string>北三环西路辅路</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>这是一所民办幼儿园，缺点是活动场地太小，没有什么室外活动器材。老师比较敬业，教学活动开展较好，尤其是学前班，给孩子打下了很好的基础。</string>
				<key>comment_user</key>
				<string>金色年华好</string>
			</dict>
		</array>
		<key>name</key>
		<string>凯迪双语艺术园</string>
		<key>phone</key>
		<string>010--62191719</string>
	</dict>
	<dict>
		<key>address</key>
		<string>政府街瑞光胡同6号</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>老师都很好，就是不好停车，正好离小学近，接送孩子的点小学生放学，每次都好堵</string>
				<key>comment_user</key>
				<string>坤忆制造-大静18515104422</string>
			</dict>
			<dict>
				<key>comment_cont</key>
				<string>还不错的一家 就是没有手机监控 老师态度都还不错 就是不好停车</string>
				<key>comment_user</key>
				<string>F羽翼</string>
			</dict>
		</array>
		<key>name</key>
		<string>幸福童年双语第七幼儿园</string>
		<key>phone</key>
		<string>010--80110115</string>
	</dict>
	<dict>
		<key>address</key>
		<string>东一时区</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>场地小了一些，但是老师的教育理念不错，办了小飞鸟绘本馆的借阅卡，送了故事会，很超值，里面的书都非常有趣，看得出老师精挑细选出来的，很多国外的译本，成人都会被各种有新意的故事吸引。每周四还有烘培厨艺等亲子互动活动，小宝贝跃跃欲试，食材也是简单而健康的。小托班里的孩子们都很活泼，有个性，但能看的出其自身的个性并没有被相互影响，也就是说估计老师并没有在孩子之间做比较性的鼓励和赞扬，保护了孩子完整的个性。孩子表现比较天真而自然，虽然有的有些“淘气”，有的有些“矫情”，又有的可能有些“古怪”，但能感觉出天性使然，没有一些公立园附着在孩子身上的世故或隐忍，已经令我觉得很了不起了。</string>
				<key>comment_user</key>
				<string>Sina_8976966412</string>
			</dict>
		</array>
		<key>name</key>
		<string>小飞鸟之家</string>
		<key>phone</key>
		<string>18611861573</string>
	</dict>
	<dict>
		<key>address</key>
		<string>小月河东路</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>今天休息，带着儿子来这家学习，这家老师的服务态度到不错，而且对孩子还非常关心，而且教训孩子不错哦 ，就是其中一个老大应该年级有点大了吧，说话没有能次，而且没有先后顺序，希望像这样的应该交已没有多少精力 ，环境到还可以，应该重点这点。</string>
				<key>comment_user</key>
				<string>美丽燕子的翅膀</string>
			</dict>
		</array>
		<key>name</key>
		<string>双全双语幼儿教育中心</string>
	</dict>
	<dict>
		<key>address</key>
		<string>欣旺大街附近</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>我亲戚的孩子在这个幼儿园，听说现在非常好，还是北师大示范园，老师的责任心特别强，吃的也很好，有远程监控</string>
				<key>comment_user</key>
				<string>dpuser_3060898611</string>
			</dict>
		</array>
		<key>name</key>
		<string>罗兰春之声双语艺术幼儿园(南门)</string>
	</dict>
	<dict>
		<key>address</key>
		<string>厚金路南口西南200米</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>老师都非常善良，很爱小朋友们，给家长们发一些孩子的视频，家长看着也放心，小区里自己开办的，价格不高，孩子十来个，像一个小家庭，孩子们在那里很开心！</string>
				<key>comment_user</key>
				<string>小雪861215</string>
			</dict>
		</array>
		<key>name</key>
		<string>中奥贝儿幼儿双语艺术托管中心</string>
	</dict>
	<dict>
		<key>address</key>
		<string>天宝北街境界家园51号楼底商801</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>挺不错的，去考察过，貌似这种地方都大同小异，老师接待的时候很热情</string>
				<key>comment_user</key>
				<string>univenser</string>
			</dict>
		</array>
		<key>name</key>
		<string>智营双语精品学前班</string>
		<key>phone</key>
		<string>010--67887815</string>
	</dict>
	<dict>
		<key>address</key>
		<string>常营陆港城</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>孩提学苑婴托中心</string>
	</dict>
	<dict>
		<key>address</key>
		<string>来广营北路</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>还不错吧 园长和老师都比较负责 升小学的时候园长也有推荐 很不错的</string>
				<key>comment_user</key>
				<string>家家萌</string>
			</dict>
		</array>
		<key>name</key>
		<string>天骄双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>怡水园3号楼702室(海淀区政府)</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>据说这是万柳地区首家引进北美daycare育婴理念的专业机构，我和朋友带着她的宝宝年前去参加过外教亲子体验课程，孩子在那儿很开心，不想离开。宝宝入园后也适应得挺好的。现在己由半日托改为全日托了😀她们发的朋友圈内容挺丰富的</string>
				<key>comment_user</key>
				<string>木糖醇66</string>
			</dict>
		</array>
		<key>name</key>
		<string>美加美好国际婴幼儿日托中心</string>
		<key>phone</key>
		<string>010--62574312</string>
	</dict>
	<dict>
		<key>address</key>
		<string>鲁谷大街</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>幼儿园教学质量很差，课程设置少，娱乐活动少，声称双语其实没有外语课程，老师素质水平低，基本没有从业资格证，老师不给上三险，人员流动频繁，学校管理混乱。</string>
				<key>comment_user</key>
				<string>ttttss</string>
			</dict>
		</array>
		<key>name</key>
		<string>凯迪双语实验幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>郁花园一里甲28号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>小星星双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--60268557</string>
	</dict>
	<dict>
		<key>address</key>
		<string>圆明园西路马连洼梅园小区1号</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>听说总换老师，家长去咨询校长态度非常冷淡，让你感觉不敢把孩子放在那里。不过也有家长说碰到好老师对孩子非常好的</string>
				<key>comment_user</key>
				<string>品尝家999</string>
			</dict>
		</array>
		<key>name</key>
		<string>小星星双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--62896558</string>
	</dict>
	<dict>
		<key>address</key>
		<string>公主坟颐源居5号楼103室</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>触摸自然运动托管</string>
	</dict>
	<dict>
		<key>address</key>
		<string>健康里46号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>京城儿童双语小状元苑</string>
	</dict>
	<dict>
		<key>address</key>
		<string>成寿寺路138号院1号楼底商</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>馨思渺双语艺术幼儿园</string>
		<key>phone</key>
		<string>13241072328</string>
	</dict>
	<dict>
		<key>address</key>
		<string>崔各乡新锦路18号卓锦万代</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>艾毅双语幼儿园卓锦校园</string>
		<key>phone</key>
		<string>010--84397080</string>
	</dict>
	<dict>
		<key>address</key>
		<string>黄村镇丽园B区雪松商业中心底商(雪松商业中心)</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>春天宝贝双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--60211441</string>
	</dict>
	<dict>
		<key>address</key>
		<string>北小营镇府西路8号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>育才双语幼儿园</string>
		<key>phone</key>
		<string>15910876970</string>
	</dict>
	<dict>
		<key>address</key>
		<string>旧宫镇旧忠路9号育龙家园15号楼</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>博雅双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--87912022</string>
	</dict>
	<dict>
		<key>address</key>
		<string>大红门久敬庄久敬佳园二区11号楼</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>桃李芳园双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>南樱桃园路口东北角</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>聚德教育</string>
		<key>phone</key>
		<string>18611190355</string>
	</dict>
	<dict>
		<key>address</key>
		<string>草桥欣园四区12号楼106室</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>金学郎托管</string>
	</dict>
	<dict>
		<key>address</key>
		<string>玉桥东路幸福艺居东门底商203号(玉桥东里社区居委会旁(玉桥东里社区居委会旁)</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>幼儿园还可以，性价比比较高，老师挺好的，都很热情，反正孩子比较喜欢，这个价位还有外教交英语，算是可以了，吃的也挺好，还担心孩子上幼儿园瘦，结果还胖了8斤，快成胖子了。</string>
				<key>comment_user</key>
				<string>天夜雨泪</string>
			</dict>
		</array>
		<key>name</key>
		<string>博瑞思双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--56217090</string>
	</dict>
	<dict>
		<key>address</key>
		<string>安乐林中街27号院附近</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>双语创意幼小衔接</string>
	</dict>
	<dict>
		<key>address</key>
		<string>梨园南街37号</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>老师非常的亲切，幼儿园开了15年了，是一家民族双语幼儿园，托费1500</string>
				<key>comment_user</key>
				<string>dpuser_4667547554</string>
			</dict>
		</array>
		<key>name</key>
		<string>阳光秀双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>十中路393附近</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>开智融汇双语幼稚园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>枫露苑27号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>新苗双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--89558599</string>
	</dict>
	<dict>
		<key>address</key>
		<string>后沙峪村中心街43号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>童乐缘双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>管头庄路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>童馨双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>正明路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>蓝天双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--67950850</string>
	</dict>
	<dict>
		<key>address</key>
		<string>回龙观新龙城五期36号楼西侧(八达岭高速回龙观出口)</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>去试听过一节亲子课  感觉不错 已经给宝宝报名了 幼儿园环境也可以  宝宝活动的地方挺大的。参观了一下班级 室内较大 整体比较满意。</string>
				<key>comment_user</key>
				<string>虎虎八宝</string>
			</dict>
		</array>
		<key>name</key>
		<string>新龙双语艺术幼儿园亲子班</string>
		<key>phone</key>
		<string>010--62714883</string>
	</dict>
	<dict>
		<key>address</key>
		<string>民生路南区东五条15号附近</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>快乐童年双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>玉桥东路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>幸福艺居贝乐康双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--81546464</string>
	</dict>
	<dict>
		<key>address</key>
		<string>西翠路西150米</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>中小学课程专业托管</string>
	</dict>
	<dict>
		<key>address</key>
		<string>回龙观</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>阳光双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>回民胡同72号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>穆光民族双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--69559190</string>
	</dict>
	<dict>
		<key>address</key>
		<string>萧太后河北侧168</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>启蒙双语幼儿早教中心</string>
	</dict>
	<dict>
		<key>address</key>
		<string>小辛庄路宏伟公寓旁</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>慧聪双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--69797901</string>
	</dict>
	<dict>
		<key>address</key>
		<string>吉庆路12号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>未来星双语儿童乐园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>芦星西街</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>向日葵双语艺术幼儿园</string>
		<key>phone</key>
		<string>15910408936</string>
	</dict>
	<dict>
		<key>address</key>
		<string>吕营大街</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>宝乐双语幼儿园分园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>长辛店镇辛庄村</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>快乐童心双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>白领家园小区3号楼</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>萌娃双语中心</string>
	</dict>
	<dict>
		<key>address</key>
		<string>武夷花园紫运园南门</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>紫运阳光双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--80852182</string>
	</dict>
	<dict>
		<key>address</key>
		<string>马家地13号院</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>英才双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>冷泉路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>慧聪双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--56014660</string>
	</dict>
	<dict>
		<key>address</key>
		<string>怡乐中路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>贝乐康双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--81594897</string>
	</dict>
	<dict>
		<key>address</key>
		<string>富力又一城</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>京瀚幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>槐房西路</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>园方极其没有道德，没有责任心，出现手足口病不隐瞒不上报，导致10余儿童被感染，甚者住院治疗，院方一点没有感觉自责，还声称，每个幼儿园都有，给家长和孩子带来很大伤害。</string>
				<key>comment_user</key>
				<string>CICI20141979</string>
			</dict>
		</array>
		<key>name</key>
		<string>金帆双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--67901955</string>
	</dict>
	<dict>
		<key>address</key>
		<string>育才路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>新星双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>丽园路30号楼附近</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>小神童幼教园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>义平路58号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>长青双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>东小口乡半截塔村458号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>金色童年双语艺术幼儿园</string>
		<key>phone</key>
		<string>18201438988</string>
	</dict>
	<dict>
		<key>address</key>
		<string>警备西路26号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>玉红双语幼儿园艺术培训中心</string>
	</dict>
	<dict>
		<key>address</key>
		<string>望京慧谷阳光204-3-101</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>慈英慧国际双语蒙学堂</string>
		<key>phone</key>
		<string>13901005327</string>
	</dict>
	<dict>
		<key>address</key>
		<string>顺焦路木林段17号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>腾龙双语幼儿园分园</string>
		<key>phone</key>
		<string>010--60459830</string>
	</dict>
	<dict>
		<key>address</key>
		<string>大灰厂东路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>智慧星双语幼儿培训</string>
	</dict>
	<dict>
		<key>address</key>
		<string>怡乐中路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>阳光宝贝双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--59757553</string>
	</dict>
	<dict>
		<key>address</key>
		<string>永顺西街32号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>运河宝宝双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--80883815</string>
	</dict>
	<dict>
		<key>address</key>
		<string>通惠北路2号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>爱心双语艺术幼儿园</string>
		<key>phone</key>
		<string>18801396891</string>
	</dict>
	<dict>
		<key>address</key>
		<string>兰各庄157号附近</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>雨佳双语艺术幼儿园</string>
		<key>phone</key>
		<string>13552235535</string>
	</dict>
	<dict>
		<key>address</key>
		<string>上清桥</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>宝贝双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>宏泰东街与阜安东路交叉口西南国风北京601栋4单元101(融科橄榄城)</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>硕德国学婴幼园</string>
		<key>phone</key>
		<string>010--64790090</string>
	</dict>
	<dict>
		<key>address</key>
		<string>上庄镇皂甲屯100号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>绿草地双语幼教</string>
	</dict>
	<dict>
		<key>address</key>
		<string>顺沙路</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>看起来不错，想让孩子过去上学，但是具体地址在哪呢？想过去看看！</string>
				<key>comment_user</key>
				<string>五.1o的念想</string>
			</dict>
		</array>
		<key>name</key>
		<string>明珠双语艺术幼儿园</string>
		<key>phone</key>
		<string>13552490916</string>
	</dict>
	<dict>
		<key>address</key>
		<string>二老庄135</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>娃娃乐双语艺术幼儿园(二老庄分园)</string>
	</dict>
	<dict>
		<key>address</key>
		<string>铺西路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>腾龙双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>芦星西街</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>百合花双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--61230491</string>
	</dict>
	<dict>
		<key>address</key>
		<string>皮村路</string>
		<key>comments</key>
		<array>
			<dict>
				<key>comment_cont</key>
				<string>贵，实在是贵，有钱人不来，穷人上不起，条件不错，进校两千多元钱。</string>
				<key>comment_user</key>
				<string>dpuser_43364458403</string>
			</dict>
		</array>
		<key>name</key>
		<string>新新宝贝双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>亦庄博兴八路鹿海园五里北门底商</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>童乐思幼教园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>金大路(大兴区金华园社区卫生服务站南)</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>红太阳双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--66464262</string>
	</dict>
	<dict>
		<key>address</key>
		<string>民生路北区东一条4号附近</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>小明星双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>铺大路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>智发双语特色幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>雅荷春天8号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>雅荷春天双语艺术幼儿园</string>
		<key>phone</key>
		<string>13910048415</string>
	</dict>
	<dict>
		<key>address</key>
		<string>长凌营村一区临008号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>天天双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--80588786</string>
	</dict>
	<dict>
		<key>address</key>
		<string>黄村镇东芦城</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>小太阳双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--61230778</string>
	</dict>
	<dict>
		<key>address</key>
		<string>通州区宋庄镇艺术工厂路c区</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>大风车宋庄双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--69591784</string>
	</dict>
	<dict>
		<key>address</key>
		<string>万事卡丹服装园南21号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>新星双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>来广营北路奶西卫生服务站附近</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>世纪哈佛双语艺术幼儿园</string>
		<key>phone</key>
		<string>15210840536</string>
	</dict>
	<dict>
		<key>address</key>
		<string>南苑西路2号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>亚星双语才艺幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>东外大街</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>喜洋洋双语艺术幼儿园</string>
		<key>phone</key>
		<string>13366962069</string>
	</dict>
	<dict>
		<key>address</key>
		<string>沟渠庄路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>起航双语艺术幼儿园</string>
		<key>phone</key>
		<string>13520443343</string>
	</dict>
	<dict>
		<key>address</key>
		<string>青云店镇南大红门</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>青云店镇康明双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>玉桥东路42号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>鼎程教育</string>
	</dict>
	<dict>
		<key>address</key>
		<string>通马路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>童馨双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>马驹桥邮局</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>腾龙双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--60503258</string>
	</dict>
	<dict>
		<key>address</key>
		<string>永顺路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>春天双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>永觅路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>幼儿双语学习园地</string>
	</dict>
	<dict>
		<key>address</key>
		<string>长西路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>腾龙双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>里二泗东街</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>腾飞双语艺术幼儿园</string>
		<key>phone</key>
		<string>13240753960</string>
	</dict>
	<dict>
		<key>address</key>
		<string>上庄乡上庄村甲1号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>雨佳双语幼艺术儿园</string>
		<key>phone</key>
		<string>13601089798</string>
	</dict>
	<dict>
		<key>address</key>
		<string>上庄路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>蓝尊蓝双语幼稚园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>石鲍路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>大东双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>小汤山镇村口旁</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>讲礼红黄蓝双语艺术幼儿园</string>
		<key>phone</key>
		<string>13466581379</string>
	</dict>
	<dict>
		<key>address</key>
		<string>马团路附近</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>智慧宝宝双语艺术园</string>
		<key>phone</key>
		<string>13810246653</string>
	</dict>
	<dict>
		<key>address</key>
		<string>南六环附近</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>宝宝双语艺术幼儿园(马北路)</string>
	</dict>
	<dict>
		<key>address</key>
		<string>229省道</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>才子双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--52118755</string>
	</dict>
	<dict>
		<key>address</key>
		<string>马驹桥镇后银子村</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>阳光双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>金星乡金海学校北侧</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>西红门双语幼儿园分园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>南口镇南辛路</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>芽芽迈琪双语艺术幼教园</string>
		<key>phone</key>
		<string>010--69770938</string>
	</dict>
	<dict>
		<key>address</key>
		<string>水屯西路1号1-06号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>宝乐双语艺术幼儿园</string>
		<key>phone</key>
		<string>010--89716369</string>
	</dict>
	<dict>
		<key>address</key>
		<string>张家湾镇环湖小镇中心幼儿园往南50米</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>金芒果双语艺术幼儿园</string>
	</dict>
	<dict>
		<key>address</key>
		<string>定福皇庄700号</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>宝宝双语艺术幼儿园(定北路)</string>
		<key>phone</key>
		<string>15120020358</string>
	</dict>
	<dict>
		<key>address</key>
		<string>宋庄镇双埠头村委会</string>
		<key>comments</key>
		<array/>
		<key>name</key>
		<string>梦想双语艺术幼儿园</string>
	</dict>
</array>
</plist>
